# Node.js
node_modules/
.env
.env.*

# Build
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.pyc

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

