body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: url('images/bg-2.png') no-repeat center center/cover;
}

.login-container {
    width: 350px;
    margin: 90px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 5px;
    font-size: 25px;
    color: #333;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.selector {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d35400;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .25s;
}

button:hover {
    background-color: #b54300;
}

.hidden {
    display: none;
}
