name: Deploy Frontend to S3 + CDN

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.5
          terraform_wrapper: false

      - name: Terraform Init + Refresh
        working-directory: terraform/dev
        run: |
          rm -rf .terraform
          terraform init -upgrade
          terraform refresh

      - name: Get Terraform Outputs
        id: tf
        working-directory: terraform/dev
        run: |
          echo "bucket=$(terraform output -raw frontend_s3_bucket)" >> $GITHUB_OUTPUT
          echo "cdn=$(terraform output -raw cloudfront_distribution_id)" >> $GITHUB_OUTPUT

      - name: Debug bucket name
        run: |
          echo "Bucket leído: '${{ steps.tf.outputs.bucket }}'"
          if [ -z "${{ steps.tf.outputs.bucket }}" ]; then
            echo "❌ ERROR: frontend_s3_bucket vino vacío"
            exit 1
          fi

      - name: Upload frontend to S3
        run: |
          aws s3 sync frontend/public/ s3://${{ steps.tf.outputs.bucket }} \
            --delete \
            --cache-control "public, max-age=86400"

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ steps.tf.outputs.cdn }} \
            --paths "/*"

      - name: Summary
        run: |
          echo "Deploy completado!"
          echo "Bucket: ${{ steps.tf.outputs.bucket }}"
          echo "CDN: ${{ steps.tf.outputs.cdn }}"
